*.pileup.tab
R/.Rproj.user/
references/
.Rhistory
.Rproj.user
input/lineages.csv
input/cog_global_tree.newick
input/cog_metadata.csv.gz
input/cog_metadata.csv/cog_metadata.csv
input/ecdc_variants_changelog_8.pdf
R/20250114.RDataTmp
